* {
  padding: 0;
  margin: 0;
}
/* 
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); */

@import url(//db.onlinewebfonts.com/c/342e95d629a08ee0db807f03f69d0c5f?family=MotoGP+Display+Bold);

body {
  /* font-family: 'Racing Sans One', cursive; */
  font-family: "MotoGP Display Bold";
}

input::placeholder, span, button{
  font-family: "MotoGP Display Bold";
}


main {
  display: grid;
  grid-template-columns: 4% 44% 4% 44% 4%;
  grid-template-rows: 5% 10% 10% 60% 10% 5% ;
  width: 100%;
  height: 100vh;
}

header {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  align-content: center;
  padding: 1%;
}
.score-section {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.input-section {
  grid-column: 4;
  grid-row: 4;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10%;
}

.score-topbar {
  display: flex;
  justify-content: space-between;
}

.score-div {
  border: 1px solid black;
  list-style-type: none;
  height: 200px;
  overflow-x: hidden;
  padding: 0 1%;
}

.score-div:hover {
  overflow-y: auto;
}

li:nth-child(even){
  background-color: rgb(241, 241, 241);
}

.bt-submit {
  width: fit-content;
  align-self: flex-end;
}